# production files
production.js
.build
app/prod/*
prod.zip

# Built css
style.out.css

# npm and bower bootstraper folders
node_modules
bower_components
components

docs/*
/HTML5Application/nbproject/private/npm-debug.log
nbproject
