<div <%= bindForm( this ) %>>

    <input name="title" type="select" data-placeholder="Title" />
    <input name="firstName" />
    <input name="surname" />
    <input name="age" type="select" data-placeholder="Age" />

</div>
