<% if( !this.ages || ages.attr('length') < 2 ) { %>
    <div <%= bindForm( this ) %>>

        <input name="firstName" />
        <input name="surname" />

    </div>
<% } else { %>
    <div <%= bindForm( this ) %>>

        <input name="firstName" />
        <input name="surname" />
        <input name="age" type="select" data-placeholder="Age" />

    </div>
<% } %>