<form <%= bindForm({
    model: model,
    optionsMap: {
        'customer.name.title': titles,
        'price.extras': model.attr('webExtras')
    },
    defaultLabel: defaultLabel
}) %> >

    <input name="customer.name.title" type="select" data-label="Title" />
    <input name="customer.name.firstName" data-label="First Name" />
    <input name="customer.name.surname" data-label="Surname" />

    <fieldset>
        <legend>Address</legend>
        <input name="customer.address.addr1" />
        <input name="customer.address.addr2" />
        <input name="customer.address.town" />
        <input name="customer.address.county" />
        <input name="customer.address.postcode" />
        <input name="customer.address.country" />
    </fieldset>
    <input name="customer.daytimePhone" />
    <input name="customer.eveningPhone" />
    <input name="customer.mobilePhone" />
    <input name="customer.email" />
    <input name="customer.emailOptIn" type="checkbox"/>
    <input name="customer.source" />
    <input name="customer.which" />

    <input name="price.extras" type="modelMultiCheckbox" data-value-attr="code" data-text-attr="description" />
    <% if( model.attr('propertyData.pets') ) { %>
        <input name="pets" type="number" data-min="0" />
    <% } %>

    <button type="submit">Submit</button>
</form>

<div>
    <h2>Party information</h2>
    <form <%= (el) -> el.bindForm({ model: model, debounceDelay: 100 }) %> >
        <input name="adults" type="number" data-placeholder="Adults" data-label="Number of adults:" data-min="0" />
        <input name="children" type="number" data-placeholder="Children" data-label="Number of children:" data-min="0"  />
    </form>
    <div class="party-list">
        <% if( model.attr('partyDetails') ) { %>
            <% list( model.attr('partyDetails'), function( traveller ) { %>
                <div
                    <%= appendTemplate( views[ traveller.attr('type') ] || views.adult , {
                        'model': traveller,
                        'optionsMap': {
                            'title': titles,
                            'age': ages,
                            'childAge': childAge
                        }
                    }) %>
                    class="<%= traveller.type %> traveller"
                ></div>
        <%  }); %>
        <% } %>
    </div>
</div>

<div class="cf"></div>
