<div class="key">
    <ul>
        <li class="ui-datepicker-unselectable ui-state-disabled unavailable" ><span>Un-available</span></li>
        <li class="available" ><span>Available</span></li>
        <li class="selected available" ><span>Selected</span></li>
    </ul>
</div>

<div <%= (el) -> el.datepicker( datepickerOptions ) %>></div>

<a <%= next() %>>Next</a>
