<div id="calendar-key" class="key">
    <h2>Key</h2>
    <ul>
        <li>
            <span class="unavailable" tabindex="0" aria-label="grey"></span> Unavailable
        </li>
        <li>
            <span class="available" tabindex="0" aria-label="amber"></span> Available
        </li>
        <li>
            <span class="selected" tabindex="0" aria-label="green"></span> Selected
        </li>
        <li>
            <span class="changeover" tabindex="0" aria-label="gold"></span> Changeover Day
        </li>
    </ul>
</div>

<div <%= (el) -> el.datepicker( datepickerOptions ) %>></div>
