<%# Fragment %>
<!-- Fragment -->
<h2>Price Calculator</h2>

<form <%= (el) -> el.bindForm({ model: enquiry, datepickerOptions: datepickerOptions }) %>>
    <%# This uses the form controller to populate the markup make that more clear %>
    <input name="fromDate" data-label="Arrive" type="datepicker" />

    <%# This uses the form controller to populate the markup make that more clear %>
    <input name="toDate" data-label="Depart" type="datepicker" />

    <% if( enquiry.attr('basicPrice') ) { %>
        <h3><%= money( enquiry.attr('basicPrice') + enquiry.attr('bookingFee') ) %></h3>
    <% } %>

    <div name="errors" type="errors"></div>

    <br>

    <button type="submit">Book now</button>
</form>
