<div>
	<h2>Price Calculator</h2>
	<label for="arrive">Arrive </label><input id="arrive" type="text" <%= (el) -> el.datepicker() %> />
	<label for="depart">Depart </label><input id="depart" type="text" <%= (el) -> el.datepicker() %> />

	<h3>&pound;350</h3>

	<button>Book now</button>

	<h4 id="calculator-results" ></h4>
</div>