<div class="calculator">

<% if( booking.attr('bookingId') ) { %>

    <div <%= appendTemplate( views.summary, this ) %>> </div>

<% } else { %>

    <div <%= appendTemplate( views.calculator, this ) %>> </div>

<% } %>

<div class="help">
    <% if( route.attr('page') === undefined ) { %>
        <%= t( 'calendar_help_text') || '' %>
    <% } else { %>
        <%= t( route.attr('page') + '_help_text') || '' %>
    <% } %>
</div>

</div>
