<div class="calculator">

<% if( booking.attr('bookingId') ) { %>

    <div <%= template( views.summary, this ) %>></div>

<% } else { %>

    <div <%= template( views.calculator, this ) %>></div>

<% } %>

</div>
