<div class="calculator">

<% if( booking.attr('bookingId') ) { %>

    <div <%= appendTemplate( views.summary, this ) %>> </div>

<% } else { %>

    <div <%= appendTemplate( views.calculator, this ) %>> </div>

<% } %>

</div>
