<div class="loading-bar">
	<div class="complete" style="width: <%= status.attr('percentComplete') %>%;" ></div>
</div>
<div
	role="status"
	class="<%= status.attr('inTransit') ? 'in-transit' : 'finished' %>"
	<%= jQueryPlugin('spin', status.attr('inTransit') ? spinOptions : false	) %>
>
	<h1><%= status.attr('openRequests') %></h1>
	<p>
		<% if( status.attr('inTransit') ) { %>
			<span>Saving...</span>
		<% } else { %>
			<span>Done!</span>
		<% } %>
	</p>

</div>