/* fixed lobotomised owl selector */
.bookingPath .spinner * + * {
    margin: 0;
    padding: 0;
}

.bookingPath .loading-blocker {
    cursor: wait;
}

.bookingPath .loading-blocker {
    position: relative;
}

.bookingPath .loading-blocker .blocking {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.bookingPath .loading-blocker .blocking:before {
    content: '';
    display: inline-block;
    height: 50%;
    vertical-align: middle;
}

.bookingPath .loading-blocker .blocking > div {
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    padding: 0 1rem;
}

.bookingPath .loading-blocker:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(212, 212, 212, 0.7);
    z-index: 9999;
}
