.cf {
    float:none;
    clear:both;
}

#cottage-booking > div {
    height: 515px;
    width: 907px;
}

#some-tabs ul li {
    float:left;
    padding:0 1em 0.2em;
    list-style: none;
}

#some-tabs .active {
    border-bottom: solid 1px black;
}

#some-tabs {
    margin-bottom: 2em;
}

#some-tabs + div,
#some-tabs + div + div {
    display: inline-block;
    vertical-align: top;
}
#some-tabs + div {
    /*width:1000px;
    height: 800px;*/
    padding:1em;
    margin: 1em;
    border: 1px solid black;
}

.ui-datepicker-today {
    background: orange;
}
.ui-datepicker-today > span {
    background: blue !important;
}
.selected {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.selected * {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.ui-datepicker-unselectable span {
    color: black !important;
}

.selected.errors * {
    background-color: rgba(255, 86, 86, 0.5) !important;
    background-image: none !important;
}

.form-item .error {
    border: 1px solid red;
}

.name {
    width:50%;
}

.name > * {
    float:left;
}
