/* TODO: tidy this styling up! */
.cf {
    float:none !important;
    clear:both;
}
/* example styling */
.bookingPath {
    width: 1000px;
}

.bookingPath > *,
.ui-tabs .ui-tabs-nav + div {
    width: 100%;
    box-sizing: border-box;
}

.bookingPath .ui-tabs .ui-tabs-panel {
    box-sizing: border-box;
}

.ui-datepicker-today {
    background: orange;
}
.ui-datepicker-today > span {
    background: blue !important;
}
.selected {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.selected * {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.ui-datepicker-unselectable span {
    color: black !important;
}

.selected.errors * {
    background-color: rgba(255, 86, 86, 0.5) !important;
    background-image: none !important;
}

.form-item .error {
    border: 1px solid red;
}

.party-list > .traveller > .bindForm {
    width:100%;
    font-size:0;
}

.party-list .bindForm > * {
    font-size: 1rem;
}

.party-list > .traveller .form-item {
    width: 25%;
    display: inline-block;
}

.party-list > .traveller .form-item > * {
    font-size: 1rem;
    width: 93%;
    padding: 0 1.5%;
    margin: 0 1.5%;
}

.party-list > .child .form-item:first-child {
    margin-left: 25%;
}

.loading * {
    cursor: wait;
}

input, select, textarea {
    box-sizing: border-box;
}

/* bindForm stuff */
.bindForm .form-item > label,
.bindForm .form-item > input {
    display: inline-block;
}

.bindForm .form-item label {
    min-width: 25%;
    text-align: right;
}

.bindForm .modelMultiCheckbox {
    font-size: 0;
}

.bindForm .modelMultiCheckbox > label:first-child {
    width: 100%;
}

.bindForm .modelMultiCheckbox > label {
    text-align: left;
    min-width: 33.3%;
    font-size: 1rem;
}
/**************/

.ui-tabs,
.ui-tabs .ui-tabs-panel {
    width: 100%;
}

.ui-tabs .ui-tabs-panel > *:first-child {
    margin: 0 auto;
}

.bookingPath .ui-tabs .details {
    font-size: 0;
    padding: 1rem;
}

.bookingPath .ui-tabs .details > * {
    font-size: 1rem;
    vertical-align: top;
}

.bookingPath .ui-tabs .details > *:first-child,
.bookingPath .ui-tabs .details > * + * {
    display: inline-block;
    width: 50%;
}

.calendar .hasDatepicker > div {
    margin: 0 auto;
}
