/* TODO: tidy this styling up! */
/* resets */
.bookingPath {
    width: 100%;
}

.bookingPath > *,
.ui-tabs .ui-tabs-nav + div {
    width: 100%;
    box-sizing: border-box;
}

.bookingCalculator {
    width: 365px;
}

/* example styling */
.bookingCalculator * + *,
.bookingPath * + * {
    margin-top: 0;
}

.bookingCalculator .sd-small-print td {
    width: 100%;
}

.cf {
    float:none !important;
    clear:both;
}

.bookingPath .ui-tabs .ui-tabs-panel {
    box-sizing: border-box;
}

.selected {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.selected * {
    background-color: #f3f3d1 !important;
    background-image: none !important;
}
.ui-datepicker-unselectable span {
    color: black !important;
}

.calendar .hasDatepicker > div {
    margin: 0 auto;
}

.calendar .bookingStart {
/* corners */
}

.selected.errors * {
    background-color: rgba(255, 86, 86, 0.5) !important;
    background-image: none !important;
}

.form-item .error {
    border: 1px solid red;
}

.party-list > .traveller > .bindForm {
    width:100%;
    font-size:0;
}

.party-list .bindForm > * {
    font-size: 12px;
    font-size: 1rem;
}

.party-list .traveller label {
    visibility: hidden;
    height: 0;
    width: 25%;
}

.party-list legend + .traveller .form-item label {
    visibility: visible;
    height: auto;
}

.party-list > .traveller .form-item {
    width: 25%;
    display: inline-block;
}

.party-list > .traveller .form-item > * {
    font-size: 1rem;
    width: 93%;
    max-width: none;
    padding: 0 1.5%;
    margin: 0 1.5%;
}

.party-list > .infant .form-item:first-child,
.party-list > .child .form-item:first-child {
    margin-left: 25%;
}

.loading * {
    cursor: wait;
}

/* bindForm stuff */
.bindForm .form-item > label,
.bindForm .form-item > input {
    display: inline-block;
}

.bindForm .form-item {
    font-size: 0;
}

.bindForm .form-item > * {
    font-size: 12px;
    font-size: 1rem;
}

.bindForm label + * {
    box-sizing: border-box;
    display:inline-block;
    max-width: 64%;
    width: auto;
}


[data-bplugin="bookingCalculator"] {
  position: relative;
}

[data-bplugin="bookingCalculator"].loading:after {
  content: '';
  background: white;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  display:block;
  position: absolute;
  top: 0;
  left: 0;
}

.bindForm .form-item label {
    min-width: 35%;
    text-align: right;
}

.bindForm .modelMultiCheckbox {
    font-size: 0;
}

.bindForm .modelMultiCheckbox > label:first-child {
    width: 100%;
}

.bindForm .modelMultiCheckbox > label {
    text-align: left;
    min-width: 33.3%;
    font-size: 1rem;
}
/**************/

.ui-tabs,
.ui-tabs .ui-tabs-panel {
    width: 100%;
}

.ui-tabs .ui-tabs-panel > *:first-child {
    margin: 0 auto;
}

.bookingPath .ui-tabs .details {
    font-size: 0;
    padding: 12px;
    padding: 1rem;
}

.bookingPath .ui-tabs .details > * {
    font-size: 12px;
    font-size: 1rem;
    vertical-align: top;
}

.bookingPath .ui-tabs .details > *:first-child,
.bookingPath .ui-tabs .details > * + * {
    display: inline-block;
    width: 50%;
}

.form-item .required {
    color: red;
}

.payment .iframe-holder {
    position: relative;
    width: 100%;
    height: 560px;
}

.payment iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/******/

.ui-datepicker-inline {
    width: 100% !important;
}

.key ul > li:first-child {
    margin-bottom: 1em;
}

.key ul > li + li {
    display: inline-block;
}

.bookingCalculator table tr td {
    padding: 1% 0;
    width: 50%;
    margin: 0;
    text-align: left;
}

.bookingCalculator table td + td {
    text-align: right;
}
