<div>

    <h2>Oops sorry!</h2>

    <p>
        It looks like these dates have already been booked, please click below to start again.
    </p>

    <a href="<%= url({'page': 'calendar'}) %>" class="restart">Start again</a>

</div>