<%
  var payingLater = payment.attr('payingLater') && options.deferPayment.show;
  if( !payingLater && options.canDeposit ) { %>
    <% if( options.booking.attr('canPayDeposit') ) { %>
            <form <%= bindForm({
                model: payment,
                optionsMap: {
                    'paymentType': choices
                }
            }) %>>
                <input name="paymentType" type="radio" />
            </form>
     <% } %>
<% } %>
<div class="iframe-holder">
    <% if( payment.attr('payingLater') && options.deferPayment.show ) { %>
        You&#39;re all set! Continue to the confirmation page!
    <% } else if( payment.attr('NextURL') ) { %>
        <iframe src="<%= payment.attr('NextURL') %>"></iframe>
    <% } %>
</div>
<div class="payment-blurb">
    <p><strong><%= t('cardInfo') %></strong></p>
</div>
